In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [5]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [6]:
df.shape

(13320, 9)

In [7]:
df['balcony'].unique()

array([ 1.,  3., nan,  2.,  0.])

In [8]:
for column in df.columns:
    print(df[column].value_counts())
    print("*"*20)

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
********************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
********************
location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
********************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
********************
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
********************
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
********************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
********************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
********************
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64
********************

In [9]:
df.drop(columns=['area_type','availability','society','balcony'],inplace =True)

In [10]:
df.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [12]:
df['location'].isnull().sum()

1

In [13]:
df['location'] = df['location'].fillna('Sarjapur Road')

In [14]:
df['location'].isnull().sum()

0

In [15]:
df.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [16]:
df['size'] = df['size'].fillna('2 BHK')

In [17]:
df['bath'].isnull().sum()

73

In [18]:
df['bath'] = df['bath'].fillna(df['bath'].median())

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [20]:
df['bhk'] = df['size'].str.split().str.get(0).astype(int)

In [21]:
df[df.bhk>20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [22]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [23]:
def convergen(x):
    temp = x.split('-')
    if len(temp) == 2:
        return  (float(temp[0])+float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [24]:
df['total_sqft'] = df['total_sqft'].apply(convergen)

In [25]:
df['total_sqft'].isnull().sum()

46

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13274 non-null  float64
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
 5   bhk         13320 non-null  int64
dtypes: float64(3), int64(1), object(2)
memory usage: 624.5+ KB

In [27]:
df = df.dropna()

In [28]:
df.shape

(13274, 6)

In [29]:
## Price 
df['price_per_sqft'] = df['price']*100000 /df['total_sqft']

In [31]:
df['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13274, dtype: float64

In [32]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13274.000000  13274.000000  13274.000000    1.327400e+04
mean    1559.626694      2.687359    112.453654      2.801718    7.907501e+03
std     1238.405258      1.336158    149.070368      1.291591    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [35]:
df['location'].value_counts()

location
Whitefield               538
Sarjapur  Road           399
Electronic City          302
Kanakpura Road           271
Thanisandra              233
                        ...
BEML Layout 5th stage      1
Kannur                     1
singapura paradise         1
Uvce Layout                1
Abshot Layout              1
Name: count, Length: 1300, dtype: int64

In [37]:
df['location'] = df['location'].apply(lambda x:x.strip())

In [38]:
location_counts =df['location'].value_counts()

In [45]:
location_counts

location
Whitefield                            539
Sarjapur  Road                        399
Electronic City                       304
Kanakpura Road                        271
Thanisandra                           236
                                     ...
1Channasandra                           1
Hosahalli                               1
Vijayabank bank layout                  1
near Ramanashree California resort      1
Abshot Layout                           1
Name: count, Length: 1289, dtype: int64

In [43]:
location_counts_less_10 = location_counts[location_counts<=10]
location_counts_less_10

location
Kalkere                               10
Thyagaraja Nagar                      10
BTM 1st Stage                         10
Basapura                              10
Dodsworth Layout                      10
                                      ..
1Channasandra                          1
Hosahalli                              1
Vijayabank bank layout                 1
near Ramanashree California resort     1
Abshot Layout                          1
Name: count, Length: 1049, dtype: int64

In [47]:
df['location']= df['location'].apply(lambda x: 'other' if x in location_counts_less_10 else x)

In [50]:
df['location'].value_counts()

location
other              2877
Whitefield          539
Sarjapur  Road      399
Electronic City     304
Kanakpura Road      271
                   ...
Doddaballapur        11
Tindlu               11
Marsur               11
HAL 2nd Stage        11
Kodigehalli          11
Name: count, Length: 241, dtype: int64

In [51]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13274.000000  13274.000000  13274.000000    1.327400e+04
mean    1559.626694      2.687359    112.453654      2.801718    7.907501e+03
std     1238.405258      1.336158    149.070368      1.291591    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [55]:
(df['total_sqft']/df['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [56]:
df = df[((df['total_sqft']/df['bhk']) >= 300)]

In [57]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [58]:
df.price_per_sqft.describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [64]:
def remove_outlier(df):
    df_output = pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        gen_df = subdf[(subdf.price_per_sqft > (m-st))& (subdf.price_per_sqft <= (m+st))]
        df_output =pd.concat([df_output,gen_df],ignore_index = True)

    return df_output

In [65]:
df= remove_outlier(df)

In [66]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10302.000000  10302.000000  10302.000000  10302.000000    10302.000000
mean    1508.585392      2.472044     91.294983      2.575325     5659.095970
std      880.774066      0.980018     86.343018      0.898664     2265.667258
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4244.994224
50%     1286.000000      2.000000     67.000000      2.000000     5175.792088
75%     1650.000000      3.000000    100.000000      3.000000     6428.571429
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [80]:
def bhk_remove_outlier(data):
    excludes_indices = np.array([])
    for location,location_df in data.groupby('location'):
        bhk_stats = {}
        for bhk,bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] ={
                'mean':np.mean(bhk_df.price_per_sqft),
                'std':np.std(bhk_df.price_per_sqft),
                'count':bhk_df.shape[0]
            }
        for bhk,bhk_df in location_df.groupby('bhk'):
            stats =bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                excludes_indices =np.append(excludes_indices,bhk_df[bhk_df.price_per_sqft <(stats['mean'])].index.values)
    return df.drop(excludes_indices,axis='index')

In [81]:
df = bhk_remove_outlier(df)

In [86]:
df.shape

(7348, 7)

In [97]:
df.drop(columns=['size'],inplace=True)

In [ ]:
df.drop(columns=['price_pre_sqft'],inplace=True)

In [93]:
# cleaned data
df.to_csv('clead_data.csv')

In [105]:
x = df.drop(columns=['price'])
y = df['price']

In [95]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [106]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size= 0.2,random_state= 0)

In [107]:
column_tran = make_column_transformer((OneHotEncoder(sparse_output= False),['location']),
                                     remainder='passthrough')

In [108]:
scaler = StandardScaler()

In [120]:
lr =LinearRegression()
pipe = make_pipeline(column_tran,scaler,lr)

In [121]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [111]:
y_pred_lr = pipe.predict(X_test)

In [113]:
r2_score(y_test,y_pred_lr)

0.8546199774630875

In [118]:
lasso = Lasso()
pipe = make_pipeline(column_tran,scaler,lasso)
pipe.fit(X_train,y_train)

y_pred_ls = pipe.predict(X_test)
r2_score(y_test,y_pred_lr)

0.8456856853758571

In [119]:
ridge = Ridge()
pipe = make_pipeline(column_tran,scaler,ridge)
pipe.fit(X_train,y_train)

y_pred_rd = pipe.predict(X_test)
r2_score(y_test,y_pred_lr)

0.8456856853758571

In [123]:
import pickle
pickle.dump(pipe,open('model.pkl','wb'))

In [125]:
X_train

                 location  total_sqft  bath  bhk
1     1st Block Jayanagar      1630.0   3.0    3
2389          Frazer Town      3436.0   5.0    4
1196       Bharathi Nagar      1328.0   2.0    2
723          Banashankari      1650.0   3.0    3
4648             Kothanur      1462.0   3.0    3
...                   ...         ...   ...  ...
6062             Sarjapur      1175.0   2.0    2
3985            Kambipura       883.0   2.0    2
2007      Electronic City      1575.0   3.0    3
3197                Hoodi       706.0   1.0    1
3342            Hosa Road      1243.0   2.0    2

[5878 rows x 4 columns]